body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ff8a00, #e52e71);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 380px;
  text-align: center;
  box-shadow: 0 4px 25px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 10px;
  font-size: 26px;
}

h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #fff;
  color: #e52e71;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #ff8a00;
  color: #fff;
}

.link a {
  color: #fff;
  text-decoration: underline;
}

#msg {
  margin-top: 10px;
  font-weight: bold;
}
